.kanban-container {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.kanban-container .column {
    display: flex;
    flex-direction: column;
}

.kanban-container .card, .kanban-container .card-design {
    display: flex;
    flex-direction: column;

    padding: 2px;
    margin: 2px;
    min-width: 200px;
    border: 2px solid grey;
    background-color: #ffe;
}
.kanban-container .column-box{
    display: flex;
    flex-direction: column;
    border: 2px solid grey;
    padding: 2px;

}